# ----------------------------
# SUPABASE
# ----------------------------

SUPABASE_PROJECT_ID=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=

VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=

# ----------------------------
# REVENUECAT
# ----------------------------

VITE_RC_ANDROID_API_KEY=
VITE_RC_IOS_API_KEY=
VITE_RC_WEB_API_KEY=

# ----------------------------
# GEMINI
# ----------------------------

GEMINI_API_KEY=
